*{
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: inherit;
}

ion-card{
    box-shadow: 2px 2px 20px solid black;
}

ion-card:hover{
    transition: 0.5s;
    transform: scale(1.04);
}

