<ion-content [fullscreen]="true">
  <app-header></app-header>



  <ion-row class="sessao__1 ion-align-items-center ion-justify-content-around">
    <ion-col size="11" sizeMd="7">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="11" sizeMd="8">
          <ion-row>
            <ion-label class="apresentacao" color="light">
              Olá, Eu sou Rômulo
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="11" sizeMd="8">
          <ion-row>
            <ion-label class="apresentacao" color="primary">
              Desenvolvedor e Programador
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="11" sizeMd="8">
          <ion-row>
            <ion-button fill="outline" size="large">
              Ver projetos
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>

    <ion-col size="12" sizeMd="5">
      <ion-row class="ion-justify-content-around">
        <ion-col size="9" class="rounded">
          <img src="../../../assets/img/foto.jpeg" alt="">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="sessao__2 ion-align-items-center ion-justify-content-center">
    <ion-col size="11" sizeMd="4">
      <ion-icon name="person-outline"></ion-icon>
    </ion-col>
    <ion-col size="11" sizeMd="5">
      <ion-row>
        <ion-text>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum praesentium rem id temporibus assumenda
            laboriosam. Illo excepturi modi, beatae iure voluptatum sed atque nulla fuga quo, id eligendi sequi
            blanditiis.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet rerum doloremque odio accusantium porro
            maxime tenetur? Ad libero vel, asperiores repellendus cumque beatae similique laborum ipsum facere
            architecto, fugit quibusdam!
          </p>

        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="sessao__3 ion-align-items-center ion-justify-content-center">
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label class="title" color="primary">Projetos</ion-label>
      </ion-row>
    </ion-col>
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center projetos">
        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'TO DO'" [sobre]="'App para criar e planejar tarefas.'"
            [img]="'../../../assets/img/todo.jpg'"
            [link]="'https://romuulogoncalves.github.io/todo-app/'"></app-projetos>
        </ion-col>
        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'Clone do site do Discord'" [sobre]="'Site do Discord usando Tailwind'"
            [img]="'../../../assets/img/discord_clone.png'"></app-projetos>
        </ion-col>
        <ion-col size="11" sizeMd="6" sizeLg="4">

          <app-projetos [nome]="'Calculadora'" [sobre]="'Calculadora.'" [img]="'../../../assets/img/calculadora.png'"
            [link]="'https://romuulogoncalves.github.io/calculator/'"></app-projetos>
        </ion-col>

        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'Delivery'" [sobre]="'Aplicativo de delivery.'"
            [img]="'../../../assets/img/delivery.png'"
            [link]="'https://github.com/RomuuloGoncalves/TCC-Delivery'"></app-projetos>
        </ion-col>
        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'Países'" [sobre]="'API para coletar dados de países.'"
            [img]="'../../../assets/img/rest-api.png'"
            [link]="'https://github.com/RomuuloGoncalves/countries_api'"></app-projetos>
        </ion-col>
        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'Gerador de senha'" [sobre]="'Sistema para gerar senhas aleatórias'"
            [img]="'../../../assets/img/gerador_senha.png'"
            [link]="'https://romuulogoncalves.github.io/password-generator/'"></app-projetos>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'Jogo da velha'" [sobre]="'Jogo da velha'" [img]="''" [link]="''"></app-projetos>
        </ion-col>
        <ion-col size="11" sizeMd="6" sizeLg="4">
          <app-projetos [nome]="'Pedra, papel ou tesoura'" [sobre]="'Jogo: Pedra, papel ou tesoura'" [img]="''"
            [link]="''"></app-projetos>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

  <ion-row class="sessao__4 ion-align-items-center ion-justify-content-center">
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label class="title" color="primary">Habilidades</ion-label>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-content>