<ion-content [fullscreen]="true">
  <app-header (linkClicked)="scrollToSection($event)"></app-header>

  <ion-row class="sessao sessao__1 ion-align-items-center ion-justify-content-around ion-padding-vertical">
    <ion-col size="11" sizeMd="7" class="container__apresentacao">
      <ion-row class="ion-align-items-center ion-justify-content-center ">
        <ion-col size="11" sizeMd="8">
          <ion-row>
            <ion-label class="apresentacao" color="light">
              Olá, Eu sou Rômulo
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="11" sizeMd="8">
          <ion-row>
            <ion-label class="apresentacao" color="primary">
              Desenvolvedor e Programador
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="11" sizeMd="8">
          <ion-row>
            <ion-button fill="outline" size="large" (click)="scrollToSection('#projetos')">
              Ver projetos
            </ion-button>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="5">
      <ion-row class="ion-justify-content-around">
        <ion-col size="9" class="imagem ">
          <img src="{{'./assets/img/foto-perfil.jpeg'}}" alt="">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row id="sobre" class="sessao sessao__2 ion-align-items-center ion-justify-content-center">
    <ion-col size="11" sizeMd="4">
      <ion-icon class="icone__pessoa" name="person-outline"></ion-icon>
    </ion-col>
    <ion-col size="11" sizeMd="5">
      <ion-row>
        <ion-text>
          <h1>
            Sobre Mim
          </h1>
          <p>
            Olá! Sou Rômulo, um entusiasta da programação cursando Engenharia da Computação e com formação técnica em Desenvolvimento de Sistemas. Minha
            jornada na área de tecnologia começou com a busca pelo entendimento das linguagens de programação e
            arquiteturas de sistemas.
          </p>

          <h1>
            Educação:
          </h1>
          <p>
            Atualmente estou curando Engenharia da Computação, porém, em 2024 consegui minha aprovação no curso de Técnico em Desenvolvimento de Sistemas, onde adquiri conhecimentos sólidos em
            programação, estruturação de dados e resolução de problemas complexos. Essa formação me proporcionou uma
            base sólida para construir soluções inovadoras e eficientes.
          </p>

          <h1>
            Habilidades Técnicas:
          </h1>
          <p>
            Possuo expertise em diversas técnologias como Javascript, PHP, Angular, Ionic, MySql, entre outras áreas, e estou
            sempre buscando
            aprender e me adaptar a novas tecnologias. Além disso, tenho familiaridade com metodologias ágeis, o que me
            permite colaborar de forma eficaz em equipes multidisciplinares.
          </p>
        </ion-text>
      </ion-row>

      <ion-button  href="./assets/docs/curriculo.pdf" download="curriculo" fill="outline" size="large" color="secondary">
        <a href="./assets/docs/curriculo.pdf" download="curriculo">
          <ion-row class="ion-align-items-center" class="botao" style="gap: 10px;">
            <ion-label>Currículo</ion-label>
            <ion-icon class="icone__download" name="cloud-download-outline"></ion-icon>
          </ion-row>
        </a>
      </ion-button>

    </ion-col>
  </ion-row>

  <ion-row id="projetos" class="sessao sessao__3 ion-align-items-center ion-justify-content-center">
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label class="title" color="primary">Projetos</ion-label>
      </ion-row>
    </ion-col>

    <!-- Lista de projetos -->
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center projetos">
        <ion-col size="11" sizeMd="6" sizeLg="4" *ngFor="let projeto of projetos">
          <app-projetos [nome]="this.projeto[0]" [sobre]="this.projeto[1]"
          [img]="this.projeto[2]"
          [link]="this.projeto[3]"></app-projetos>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row id="habilidades" class="sessao sessao__4 ion-align-items-center ion-justify-content-center">
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label class="title" color="secondary">Habilidades</ion-label>
      </ion-row>
    </ion-col>

    <!-- Lista de habilidades -->
    <ion-col size="11">
      <ion-row class="ion-justify-content-center">
        <ion-col size="5" sizeSm="6" sizeMd="4" sizeLg="3" sizeMd="2" sizeLg="1.2" *ngFor="let skill of skills">
          <app-skills [nome]="this.skill[0]" [img]="this.skill[1]"></app-skills>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
  <ion-row id="contato"
    class="sessao sessao__5 ion-align-items-center ion-justify-content-around ion-padding-top ion-padding-bottom">
    <ion-col size="11">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-label class="title">Contato</ion-label>
      </ion-row>
    </ion-col>
    <ion-col size="11">
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" sizeSm="6" sizeMd="4" sizeLg="3">
          <app-contato [nome]="'LinkedIn'" [link]="'https://www.linkedin.com/in/romuulogoncalves/'"
            [img]="'logo-linkedin'"></app-contato>
        </ion-col>
        <ion-col size="11" sizeSm="6" sizeMd="4" sizeLg="3">
          <app-contato [nome]="'E-mail'" [link]="'mailto:romulogoncalves13@gmail.com'"
            [img]="'mail-outline'"></app-contato>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="11" sizeSm="6" sizeMd="4" sizeLg="3">
          <app-contato [nome]="'GitHub'" [link]="'https://github.com/RomuuloGoncalves'"
            [img]="'logo-octocat'"></app-contato>
        </ion-col>
        <ion-col size="11" sizeSm="6" sizeMd="4" sizeLg="3">
          <app-contato [nome]="'Stack Overflow'"
            [link]="'https://stackoverflow.com/users/22359187/romulo-gon%c3%a7alves'"
            [img]="'logo-stackoverflow'"></app-contato>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-footer class="ion-no-border">
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-label color="secondary">Desenvolvido por: Rômulo da Silva Gonçalves</ion-label>
    </ion-row>
  </ion-footer>
</ion-content>