* {
  font-family: Arial, Helvetica, sans-serif;
}

.sessao {
  min-height: 90vh;
  &__1 {
    background: url("../../../assets/img/banner.png");
    background-size: cover;
    .apresentacao {
      font-size: 4rem;
    }

    img {
      border-radius: 10%;
    }
  }

  &__2 {
    background-color: #311e25;
    color: #fff;
    font-size: 1.3rem;
    text-align: justify;
    letter-spacing: 3px;

    ion-icon {
      width: 100%;
      font-size: 20rem;
    }
  }

  &__3 {
    background: url("../../../assets/img/banner.png");
    background-size: cover;
    .title {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__4 {
    background-color: #311e25;
    .title {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 800px) {
  .sessao {
    &__1 {
      .apresentacao {
        font-size: 2rem;
      }
    }

    &__2 {
    }

    &__3 {
      .title {
        font-size: 2rem;
      }
    }

    &__4 {
      .title {
        font-size: 2rem;
      }
    }
  }
}
