* {
  font-family: Arial, Helvetica, sans-serif;
}

ion-footer {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-secondary);
}

.sessao {
  &__1 {
    background: url("../../../assets/img/1014.jpg");
    background-size: cover;
    min-height: 85vh;
    .container__apresentacao {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .apresentacao {
      font-size: 4rem;
    }

    img {
      border-radius: 50%;
    }
  }

  &__2 {
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-secondary);
    font-size: 1.1rem;
    letter-spacing: 2px;
    min-height: 80vh;

    ion-icon {
      width: 100%;
      font-size: 20rem;
    }
  }

  &__3 {
    background: url("../../../assets/img/1014.jpg");
    background-size: cover;
    .title {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__4 {
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-secondary);
    .title {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .skill {
      text-transform: uppercase;
      font-size: 3rem;
    }
  }

  &__5 {
    min-height: 50vh;
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-primary);
    background: url("../../../assets/img/1014.jpg");

    .title {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    ion-textarea {
      height: 200px;
    }

    .campos__contato {
      display: flex;
      gap: 5px;
      flex-direction: column;
    }
  }
}

@media (max-width: 800px) {
  .sessao {
    &__1 {
      .apresentacao {
        font-size: 2rem;
      }
    }

    &__2 {
      ion-icon {
        display: none;
      }
    }

    &__3 {
      .title {
        font-size: 2rem;
      }
    }

    &__4 {
      .title {
        font-size: 2rem;
      }

      .skill {
        font-size: 1.2rem;
      }
    }

    &__5 {
      .title {
        font-size: 2rem;
      }
    }
  }
}
